{% extends "base.html" %}

{% block title %}Web Scraping{% endblock %}

{% block content %}
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application for Web Scraping
    </p>
    <p>
        <em>Enter your site</em>
    </p>
       <form method="post">
        <p>
            <input type="text" placeholder="Enter the URL site you would like to Scrape"
                   name="user_input">
        </p>
        <button type="submit">Create</button>
    </form>
{% endblock %}
